html {
background-color: #a1dcfa;
font-family: 'Teko', sans-serif;
font-size: 20px;
}

body {
    width: 970px;
    margin: 20px auto;
}
   

.nav {
    border: 1px solid #EAEAEB;
    text-align: left;
    height: auto;
    width: 250px;
    line-height: 70px;
    margin: 0 30px 0 0;
    float: left;
    display:block;

}

.nav ul {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;

}

.header {
    display: inline;
    position: relative;

}

.section {
    display: inline;
}

.section b {
    float: left;
    margin-left: 15px;
}

.section p {
    margin: 15px;
    border: 2px solid #EAEAEB;
    position: static;
    padding: 10px;
}
/* Stilizarea tabelului */
.section table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.section table th {
    padding: 15px;
    border: solid 1px #e6e6e6;
}

.section table td {
    padding: 10px;
    border: solid 1px #e6e6e6;
}

.section table tr {
    background-color: #EDEDED;

}

.section table tr.one {
    background-color: #F7F7F7;
 
}

.section #heading {
    background-color: #0156a7;
    color: white;
}
/* Stilizarea footerului */
.footer {
    position: static;

}
